body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

section {
    background-color: #FFF4E8;
}

.cover img {
    width: 100%;
    border-radius: 50%;
    opacity: 0.5;
    max-width: 700px;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    background-color: #CAC6C6;
    padding: 35px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    margin: 40px;
}

form label {
    color: #335535 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
}

form input, form textarea {
    padding: 15px !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
    background-color: #FFFFFF !important;
    border: 2px solid #F0FAF1 !important;
    color: #2b7930 !important;
    width: 100% !important;
}

form input::placeholder, form textarea::placeholder {
    color: #b5cab6 !important;
    font-size: 15px !important;
}

.btn.btn-primary {
    background-color: red !important;
    border-color: red !important;
}

.btn.btn-primary:hover {
    background-color: darkred !important;
    border-color: darkred !important;
}

.cont-logos i {
    padding: 0 25px;
    font-size: 40px;
}

footer {
    background-color: #59861F;
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0;
}