body {
    background-color: #FFF4E8;
    margin: 0;
    padding: 0;
}
section {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    padding: 20px; 
}

.contenedor-1-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-row1 img {
    width: 700px; 
    height: 700px;
    border-radius: 50%;
    opacity: .5;
}

.mapa-row2 h3 {
    color: #59861F;
}

.contenedor-2-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    justify-content: center;
    background-color: #CAC6C6;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 340px;
}

.logos-redes i {
    font-size: 45px;
    margin: 60px 40px 0px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #283629;
    font-size: 35px;
}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 2px solid #F0FAF1;
    color: #283629;
}

input::placeholder, textarea::placeholder {
    color: #b5cab6;
}

.btn {
    width: 90px;
    height: 40px;
    border: none;
    margin-left: auto;
    font-size: 17px;
    color: #FFFFFF;
    border-radius: 25px;
    background-color: #F58634;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: #50E04B;
}

@media(max-width:991px) {

    section {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px;
    }

}

footer {
    margin-top: 45px;
    padding: 5px 15px 5px 15px;
    background-color: #59861F;
    font-family: Arial, sans-serif;
    color: #fff;
}
.row1 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.row2 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.copyright {
    float: left
}

.hecho {
    float: right
}