@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


#inicio {
    background: url(../img/index/PROCESO.jpeg)
    no-repeat center/cover #f9f9f5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: flex-start;
    padding: 1vw 8vw;
    opacity: 0.5;
}

#inicio h1 {
    color: #59861F;
    font-size: 4rem;
    letter-spacing: 1px;
}

#inicio h1 p {
    width: 80%;
    color: #59861F;
    font-size: 3rem;
    line-height: 60px;
}

#inicio .btn-inicio {
    background-color: #3c5e10;
    padding: 13px 35px;
    color: #FFF4E8;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}

#inicio .btn-inicio:hover {
    opacity: 0.9;
}