@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Serif", serif;
}

.contenido {
    padding: 20px;
    border-radius: 20px;
    background: rgba(91, 112, 94, 0.24);
    color: #225a21;
    margin-top: 20px;
}

.ED, .tem {
    padding: 20px;
    border-radius: 20px;
    background: rgba(91, 112, 94, 0.24);
    color: #225a21;
    margin-top: 20px;
}

.contenido, .ED, .tem {
    backdrop-filter: blur(1px);
    color: #175e1e;
}

.contenido h1,
.contenido p,
.capa_ed h2,
.capa_ed h3,
.capa_ed li {
    font-weight: bold;
}


.tem_father:hover .gira {
    transform: rotateY(180deg);
}

.gira {
    width: 100%;
    max-width: 400px;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
    border-radius: 20px;
    margin: 0 auto; /* Centrar la imagen giratoria */
}

.frente, .atras {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.atras {
    transform: rotateY(180deg);
}

.cuerpo-frente, .cuerpo-atras {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Texto {
    margin: 0;
    color: #ffffff;
    font-size: 80%;
    text-align: center;
    background-color: #0A4C03;
}

.titulo {
    text-align: center;
    color: #16611e;
}

.fondo{
    width: 100% ;
    height: 100%;
    animation: banner 15s infinite linear alternate;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

@keyframes banner {
    0%, 20% {
        background-image: url(../img/Productos/Aguacate/A2.jpg);
    }
    25%, 45% {
        background-image: url(../img/Productos/Aguacate/A3.jpg);
    }
    50%, 70% {
        background-image: url(../img/Productos/Aguacate/A4.jpeg);
    }
    75%, 100% {
        background-image: url(../img/Productos/Aguacate/A5.jpg);
    }
}
