@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

section {
    background-color: #FFF4E8;
}

.banner{
    width: 100%;
    height: 100%;
    animation: banner 15s infinite linear alternate;
    background-size: 100% 100%;
    position:relative;
    opacity: 0.7;
}

@keyframes banner{
    0%,20%{
        background-image:url(../img/Productos/Arandano/A2.jpg);
    }
    25%,45%{
        background-image:url(../img/Productos/Arandano/A3.jpg);
    }
    50%,70%{
        background-image:url(../img/Productos/Arandano/A4.jpg);
    }
    75%,100%{
        background-image:url(../img/Productos/Arandano/A5.jpg);
    }
}

.capa_contenido{ 
    border-radius: 20px;
    background: rgba(236, 130, 43, 0.548);
    padding: 10px;
    text-align: center;
}

.capa_contenido h1{
    margin-bottom: 20px;
    color: #04380b;
    font-size: 40px;
    font-weight: 600 !important;
}

.capa_contenido p{
    z-index: 1;
    color: white;
    font-size: 20px;
}

.capa_ed{
    float: left;
    border-radius: 20px;
    background: rgba(91, 98, 163);
    padding: 25px;
    margin-top: 40px;
    margin-left: 40px;
}

.capa_ed h2{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.capa_ed h3{
    color: black;
    font-size: 25px;
    margin: 10px 0px;
}

.capa_ed li{
    color: black;
    font-size: 20px;
}
