@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar {
    background-color: #FFF4E8 !important;
}

.navbar-nav .nav-link{
    color: #59861F !important;
}

.navbar-toggler {
    border: 2px solid #3c5e10;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#menuToggler {
    color: #3c5e10;
}

.navbar-brand img {
    width: 50px;
}
