@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

.logo img {
    width: 50px;
}

header nav {
    background-color: #FFF4E8;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #59861F;
}