@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-family: "Roboto-Serif" serif;
}


.Ban{
    max-width: 100%;
    margin: auto;
    margin-top: 15%;
    display: flex;
    justify-content: center
}
.Texto{
    margin: 0%;
    color: #ffffff;
    font-size: 80%;
    text-align:center;
    background-color: #0A4C03;
}

.banner{
    width: 100%;
    height: 100%;
    animation: banner 15s infinite linear alternate;
    background-size: 100% 100%;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity: 0.7;
}
@keyframes banner{
    0%,20%{
        background-image:url(/pweb/img/Productos/Mango/M2.jpeg);
    }
    25%,45%{
        background-image:url(/pweb/img/Productos/Mango/M3.jpg);
    }
    50%,70%{
        background-image:url(/pweb/img/Productos/Mango/M4.jpg);
    }
    75%,100%{
        background-image:url(/pweb/img/Productos/Mango/M5.jpg);
    }
}
.contenido{

    width: 90%;
    height: 30%;
    position:absolute;
    top: 15%;
    left: 5%;
    border-radius: 20px;
    background:   rgba(112, 55, 8, 0.842);
}

.info{
    z-index: 1;
    width: 100%;
    text-align: center;
}
.info h1{
    margin: 1%;
    color: #000000;
    font-size: 300%;
}
.info p{
    z-index: 1;
    color: white;
    line-height: 1.;
    font-size: 130%;
    }
.ED{
    width: 6%;
    height: 65%;
    background-size: 60% 60%;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 20px;
    top: 40%;
    left:26%;
}
.capa_ed{
    width: 750%;
    height: 80%;
    position:absolute;
    border-radius: 20px;
    background: rgba(112, 55, 8, 0.404);
}
.info h2{
    margin: 5%;
    color: #000000;
    position: center;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1%;
}
.info h3{
    margin: 2%;
    color: #000000;
    text-align: left;
    font-size: 25px;
}
.info li{
    margin: 1.5%;
    z-index: 1;
    color: black;
    text-align: left;
    font-size: 20px;
    line-height: 0.5;
    margin-bottom: 10px;
}

.tem{
    float:right;
    max-width:  500px; 
    margin: 200px;
    margin-top: 220px;
    height: 400px;
    perspective: 1000px;
  }

  .tem_father{
    margin: 0px;
    
  }

  .tem_father:hover .gira{
     transform: rotateY(180deg);
  }

.gira{
width: 400px;
height: 400px;
background: #99603234;
position: relative;
transform-style: preserve-3d;
transition: all 600ms;
border-radius: 20px;
}

.frente{
left: 0px;
top: 100px;
background-size: cover;
background-position: center;
}
.frente,
.atras{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.atras{
    width: 400px;
    height: 300px;
    transform: rotateY(180deg);
}

.cuerpo-frente{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
